/target
/.idea
/.vscode
/.DS_Store
/.worktrees
/dist
vendor/*
!vendor/dirs-sys/
!vendor/dirs-sys/**
!vendor/gpu-allocator/
!vendor/gpu-allocator/**
!vendor/i-slint-renderer-femtovg/
!vendor/i-slint-renderer-femtovg/**
!vendor/i-slint-renderer-skia/
!vendor/i-slint-renderer-skia/**
!vendor/i-slint-backend-winit/
!vendor/i-slint-backend-winit/**
!vendor/i-slint-common/
!vendor/i-slint-common/**
!vendor/i-slint-core/
!vendor/i-slint-core/**
!vendor/winit/
!vendor/winit/**
vendor/i-slint-common/Cargo.lock
vendor/i-slint-common/.cargo-ok
vendor/i-slint-common/.cargo_vcs_info.json
vendor/i-slint-common/target/
vendor/i-slint-core/Cargo.lock
vendor/i-slint-core/.cargo-ok
vendor/i-slint-core/.cargo_vcs_info.json
vendor/i-slint-core/target/
vendor/i-slint-backend-winit/Cargo.lock
vendor/i-slint-renderer-skia/Cargo.lock
vendor/i-slint-renderer-skia/.cargo-ok
vendor/i-slint-renderer-skia/.cargo_vcs_info.json
vendor/i-slint-backend-winit/target/
vendor/i-slint-renderer-femtovg/target/
vendor/i-slint-renderer-skia/target/
vendor/winit/Cargo.lock
vendor/winit/target/
.mcp.json
/.grok
